.pic {
  text-align: center;
}

.w5 {
  color: lightseagreen;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
}

.w6 {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.w6:hover {
  background-color: lightgoldenrodyellow;
}

.E1 {
  width: 500px;
  transition: 0.5s;
}

.E1:hover {
  width: 800px;
}