.bodyarea {
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
}

.me {
  width: 250px;
  margin: auto 0px;
  float: left;
  border-radius: 360px;
  background: white;
  padding: 10px;
  position: relative;
}

a {
  padding: 8px;
}

.icon {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.w1 {
  color: lightseagreen;
  font-size: 100px;
  font-weight: bolder;
  line-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 10px;
}

.w2 {
  font-size: 50px;
  font-weight: bolder;
  color: aliceblue;
  line-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

hr {
  width: 1200px;
}

header {
  background-color: lightblue;
  font-size: 30px;
  font-weight: bolder;
  height: 100px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

footer {
  background-color: lightblue;
  font-size: 30px;
  font-weight: bolder;
  height: 100px;
  color: aliceblue;
  text-align: center;
}