.w3 {
  color: lightseagreen;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  font-weight: bolder;
  position: relative;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.item>p {
  font-size: 50px;
  font-weight: bolder;
  font-family: sans-serif;
  color: black;
  text-align: left;
}

.item-skill {
  width: 100%;
  background-color: lightslategray;
}

.i-skill-bar {
  text-align: right;
  color: bisque;
  padding: 20px 0 20px 0;
}


.html {
  font-size: 30px;
  width: 70%;
  background-color: lightseagreen;
  animation: skill70 5s infinite;
}

.css {
  font-size: 30px;
  width: 70%;
  background-color: lightseagreen;
  animation: skill70 5s infinite;
}

.js {
  font-size: 30px;
  width: 60%;
  background-color: lightseagreen;
  animation: skill60 5s infinite;
}

.net {
  font-size: 30px;
  width: 90%;
  background-color: lightseagreen;
  animation: skill90 5s infinite;
}

.py {
  font-size: 30px;
  width: 70%;
  background-color: lightseagreen;
  animation: skill70 5s infinite;
}

.java {
  font-size: 30px;
  width: 80%;
  background-color: lightseagreen;
  animation: skill80 5s infinite;
}

@keyframes skill60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes skill70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes skill80 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes skill90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

/*------這是分隔線-----*/

/*圓形循環圖
.root2 {
  margin: 100px;
  max-width: 1200px;
}

.inside-circle {
  width: 120px;
  height: 120px;
  color: white;
  background-color: black;
}

.root svg {
  transform: rotate(270deg);
}

.root svg circle {
  fill: transparent;
  stroke: blue;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
  animation: run 10s linear 5;
}

@keyframes run {
  100% {
    stroke-dashoffset: 0;
  }
}
*/